In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn

In [2]:
train_data = pd.read_csv('Train_data.csv', parse_dates=[0], dayfirst=True)
test_data = pd.read_csv('Test_data.csv', parse_dates=[0], dayfirst=True)

In [3]:
train_data.head(1000)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71
...,...,...,...,...,...,...,...,...,...
995,2020-09-27,campaign 1,adgroup 3,ad 5,95,55,5.44,0,0.00
996,2020-09-27,campaign 1,adgroup 3,ad 6,190,92,7.23,6,1421.59
997,2020-09-27,campaign 1,adgroup 1,ad 7,17,8,0.20,1,96.41
998,2020-09-27,campaign 1,adgroup 2,ad 7,9,3,0.21,0,0.00
999,2020-09-27,campaign 1,adgroup 3,ad 7,17,8,1.44,0,0.00

In [4]:
dateSelect = '28-02-2021'  
train_data['dates'] = dateSelect

In [5]:
dateSelect1 = '15-03-2021'  
test_data['dates'] = dateSelect1

In [6]:
train_data['dates'] =  pd.to_datetime(train_data['dates'])
test_data['dates'] =  pd.to_datetime(test_data['dates'])

In [7]:
train_data['days']= train_data['dates']-train_data['date']
train_data['day']=train_data['days'].dt.days
test_data['days']= test_data['dates']-test_data['date']
test_data['day']=test_data['days'].dt.days

In [8]:
train_data.head(1000)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,dates,days,day
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,2021-02-28,211 days,211
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,2021-02-28,211 days,211
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,2021-02-28,211 days,211
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,2021-02-28,211 days,211
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,2021-02-28,211 days,211
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-09-27,campaign 1,adgroup 3,ad 5,95,55,5.44,0,0.00,2021-02-28,154 days,154
996,2020-09-27,campaign 1,adgroup 3,ad 6,190,92,7.23,6,1421.59,2021-02-28,154 days,154
997,2020-09-27,campaign 1,adgroup 1,ad 7,17,8,0.20,1,96.41,2021-02-28,154 days,154
998,2020-09-27,campaign 1,adgroup 2,ad 7,9,3,0.21,0,0.00,2021-02-28,154 days,154
999,2020-09-27,campaign 1,adgroup 3,ad 7,17,8,1.44,0,0.00,2021-02-28,154 days,154

In [9]:
test_data.head(3000)

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions,dates,days,day
0,2021-03-01,campaign 1,adgroup 1,ad 1,0.58,121,49,1,2021-03-15,14 days,14
1,2021-03-01,campaign 1,adgroup 3,ad 1,0.17,22,12,0,2021-03-15,14 days,14
2,2021-03-01,campaign 1,adgroup 4,ad 1,0.05,5,3,0,2021-03-15,14 days,14
3,2021-03-01,campaign 1,adgroup 2,ad 1,0.01,2,1,0,2021-03-15,14 days,14
4,2021-03-01,campaign 1,adgroup 2,ad 2,0.01,3,1,0,2021-03-15,14 days,14
...,...,...,...,...,...,...,...,...,...,...,...
313,2021-03-15,campaign 1,adgroup 4,ad 55,0.01,1,1,0,2021-03-15,0 days,0
314,2021-03-15,campaign 1,adgroup 3,ad 55,0.01,5,1,0,2021-03-15,0 days,0
315,2021-03-15,campaign 1,adgroup 1,ad 55,0.14,25,11,0,2021-03-15,0 days,0
316,2021-03-15,campaign 1,adgroup 3,ad 56,0.06,9,4,0,2021-03-15,0 days,0
317,2021-03-15,campaign 1,adgroup 1,ad 56,0.33,67,27,1,2021-03-15,0 days,0

In [10]:
train_data.drop(['date', 'dates', 'days', 'campaign'], axis = 1, inplace=True)
test_data.drop(['date', 'dates', 'days', 'campaign'], axis = 1, inplace=True)

In [11]:
train_data['adgroup'] = train_data['adgroup'].str.replace('adgroup ','')
test_data['adgroup'] = test_data['adgroup'].str.replace('adgroup ','')

In [12]:
a= pd.get_dummies(train_data.adgroup, prefix='adgroup')
b= pd.get_dummies(test_data.adgroup, prefix='adgroup')

In [13]:
train_data = pd.concat([a, train_data], axis=1)
del train_data['adgroup']
test_data = pd.concat([b, test_data], axis=1)
del test_data['adgroup']

In [14]:
train_data['ad'] = train_data['ad'].str.replace('ad ','')
test_data['ad'] = test_data['ad'].str.replace('ad ','')

In [15]:
train_data['ad'] =train_data['ad'].astype(int)
test_data['ad'] =test_data['ad'].astype(int)

In [16]:
for i, row in train_data.iterrows():
    if (row['adgroup_1']==1):
        x=row['ad']
        train_data.at[i,'adgroup_1']=x
    if (row['adgroup_2']==1):
        x1=row['ad']
        train_data.at[i,'adgroup_2']=x1
    if (row['adgroup_3']==1):
        x2=row['ad']
        train_data.at[i,'adgroup_3']=x2
    if (row['adgroup_4']==1):
        x3=row['ad']
        train_data.at[i,'adgroup_4']=x3

In [17]:
for i, row in test_data.iterrows():
    if (row['adgroup_1']==1):
        x4=row['ad']
        test_data.at[i,'adgroup_1']=x4
    if (row['adgroup_2']==1):
        x5=row['ad']
        test_data.at[i,'adgroup_2']=x5
    if (row['adgroup_3']==1):
        x6=row['ad']
        test_data.at[i,'adgroup_3']=x6
    if (row['adgroup_4']==1):
        x7=row['ad']
        test_data.at[i,'adgroup_4']=x7

In [18]:
del train_data['ad']
del test_data['ad']

In [19]:
y_train= train_data['revenue']
X_train= train_data.drop(['revenue'], axis = 1)

In [56]:

from sklearn.ensemble import RandomForestRegressor
classification=RandomForestRegressor(n_estimators= 1800, )
classification.fit(X_train,y_train)
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [41]:
rf_random.best_params_

{'n_estimators': 1800,
 'min_samples_split': 2,
 'min_samples_leaf': 4,
 'max_features': 'auto',
 'max_depth': 50,
 'bootstrap': False}

In [58]:
regressor.score(X_train,y_train)

1.0

In [57]:
classification.score(X_train,y_train)

0.993733055120175

In [61]:
from sklearn.svm import SVR
regressor1 = SVR()
regressor1.fit(X_train,y_train)

SVR()

In [62]:
regressor1.score(X_train, y_train)

-0.00562274090663184

In [59]:
revenue = regressor.predict(test_data)

In [60]:
res = pd.DataFrame(revenue)
res.index = test_data.index
res.columns = ["revenue"]
res.to_csv("result.csv", index = False)